.title {
  color: #104349;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.button {
  border: 2px solid transparent;
  background-color: #1d707a;
  color: #fff;
  transition: all .4s ease-in-out;
}

.button:hover {
  border-color: #1d707a;
  background-color: #fff;
  color: #1d707a;
}